.git
.git/**
.gitignore
.gitattributes
.github

tests/
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
**/__pycache__
*.py[cod]
*.pyo

*.md
banner.gif
banner.png

.venv
venv
env/
.env
.env.*

*.session
*.session-journal
*.session.enc
*.session*
*.key
config.toml
config.json
*.db
*.db-shm
*.db-wal
.kitsune/

build/
dist/
*.egg-info/
*.egg
*.log
logs/

.idea
.vscode
*.swp
.DS_Store
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
